<mat-toolbar color="primary" layout="fill">
  <div>Mat Stepper routing demo | NG {{ngVersion}} | Material {{matVersion}}</div>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
      <div>Author: Tony Samperi</div>
      <a href="https://www.github.com/tonysamperi" target="_blank"><i class="fa fa-github-square"></i></a>
      <a href="https://stackoverflow.com/users/story/3872998" target="_blank"><i class="fa fa-stack-overflow"></i></a>
    </div>
  </mat-card-content>
</mat-card>